/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* PubNub Logo */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#pubnub-logo {
    text-align: center;
    position: absolute;
    top: -120px;
    width: 100%;
}
#pubnub-logo-img {
    background: url(../img/pubnub.png);
    display: inline-block;
    background-size: 128px 28px;
    width: 128px;
    height: 28px;
    background-repeat: no-repeat;
    opacity: 0.7;
}
#pubnub-relative,
.pubnub-relative {
    position: relative;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* PubNub Chat */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#pubnub-chat-section {
    margin: 0px;
}
#pubnub-chat-input {
    width: 100%;
    margin: 0px 0px 20px 0px;
    outline: 0;
    border: 0px;
    border-bottom: 2px solid #eee;
    font-size: 20px;
    font-weight: 100;
    font-family: "Helvetica Neue";
}
/* chat box output */
#pubnub-chat-output {
    text-align: left;
    overflow: scroll;
    overflow-x: hidden;
    margin: 20px 0px 20px 0px;
    height: 200px;
    font-size: 14px;
    font-weight: 200;
    font-family: "Helvetica Neue";
    outline: 0;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#pubnub-chat-output div {
    margin: 8px 10px;
    border-bottom: 1px solid #f8f8f8;
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Phone Number Display */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#my-number-section {
    margin: 10px 0px 40px 0px;
}
#my-number-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
}
#my-number {
    font-size: 110px;
    line-height: 180px;
    font-weight: 100;
}
#my-number-permalink {
    border-radius: 10px;
    padding: 8px;
    display: inline-block;
    background-color: #e6e4e4;
    text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
#my-number-permalink,
#my-number-permalink a {
    margin: 20px 0 0 0;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #fff;
}
#my-number-permalink a {
    color: #428bca;
    text-shadow: 0px 0px 1px rgba(255,255,0,0.9);
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Video Display */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
#video-border {
    padding: 10px;
    margin: 20px 0px;
    overflow: hidden;
}
#video-display {
    height: 340px;
    text-align: center;
    color: #eee;
    font-size: 150px;
    line-height: 340px;
    z-index:-1;
}
#video-self {
    position: absolute;
    height: 25%;
    width: 25%;
    top: 170px;
    left: 320px;
    #text-align: center;
    font-size: 0px;
    line-height: 0px;
    z-index:0;
}
#video-display video {
    border-radius: 6px;
    height: 300px;
}
#video-thumbnail {
    position: absolute;
    top: -180px;
    right: 10px;
}
#video-thumbnail img {
    width: 120px;
    height: 90px;
    border-radius: 6px;
}

.dial-buttons .btn {
    width: 30%;
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */
/* Small Screens */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

@media (max-width: 768px) {
    #video-border {
        margin: 0 0 10px 0;
        padding: 0;
    }
    #my-number-section {
        margin: 10px 0px;
    }
    #my-number {
        font-size: 32px;
        line-height: 44px;
        font-weight: normal;
    }
    #my-number::before {
        content: "Your number is: ";
        font-weight: 100;
        color: #878787;
    }
    #pubnub-chat-input {
        margin: 0 0 8px 0;
    }
    #pubnub-chat-output {
        margin: 0;
        font-size: 16px;
        height: auto;
        max-height: 200px;
    }
    #pubnub-chat-output div {
        font-weight: 200;
        margin: 2px;
        border-bottom: none;
    }
    #video-display {
        height: 240px;
        line-height: 240px;
    }
    #video-self {
        height: 240px;
    }
    #pubnub-logo {
        top: -50px;
        width: 100%;
    }
    .col-xs-7, .col-xs-5 {
        padding-right: 0;
    }
    #video-thumbnail {
        top: -105px;
        right: 5px;
    }
}

